a{ display:block; background-color:rgb(7, 50, 65); color:white; text-decoration:none; width:100px; text-align:center;
    height: 15px; border-style:solid; border-width:4px; font-size:12px; border-radius:50px; border-color:rgb(7, 50, 65);}
#contentbox{
    width:80%; background-color: rgb(7, 50, 65); min-height:580px; margin-top:25px; margin-left:10%
}

.content-tab{color:white; background-color:rgb(34, 34, 34);
    border-collapse: collapse; font-family:sans-serif;
    margin:25px 0; border-radius:5px 5px 0 0;
    font-size:0.8cm; overflow:hidden;
    min-width:400px;

}
h2{color:gold;}

.content-tab td{ 
    padding: 12px 15px;
}
.content-tab th{
    color:gold;
} 
.content-tab tbody tr{
    border-bottom:1px solid white;
}
.content-tab tbody tr:last-of-type{
    border-bottom:2px solid gold;
}